<?xml version="1.0" encoding="utf-8" ?>
<configuration scan="true">

    <!-- Spring Boot 기본 로깅 설정 상속 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- 콘솔 로깅 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %clr(%d{HH:mm:ss.SSS}){faint} | %clr(%-5level){highlight} | %logger{36} - %msg%n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- DDL 생성 시 필요한 로그만 -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.swcampus" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
