<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <include resource="logback/logback-appenders.xml"/>

    <!-- 패키지별 로그 레벨 -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.swcampus" level="INFO"/>

    <root level="INFO">
        <!-- <appender-ref ref="OTEL"/> -->
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
