# Spring 기본 설정
spring:
  application:
    name: sw-campus-server

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
    group:
      local: local
      staging: staging
      prod: prod
      ddl-gen: ddl-gen

  config:
    import:
      - optional:classpath:logging.yml
      - optional:classpath:config/application-${spring.profiles.active}.yml

  jpa:
    open-in-view: false
    properties:
      hibernate:
        default_batch_fetch_size: 100

  batch:
    jdbc:
      initialize-schema: never
    job:
      enabled: false

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

  mail:
    host: ${MAIL_HOST:}
    port: ${MAIL_PORT:587}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

# ALB HealthCheck 필수
server:
  address: 0.0.0.0
  port: 8080

# Actuator
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,prometheus
  tracing:
    enabled: true
    sampling:
      probability: 1.0

# OTEL
otel:
  resource:
    attributes:
      service.name: sw-campus

# Swagger
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
  packages-to-scan:
    - com.swcampus.api
  paths-to-match:
    - /api/**
